.facebook,
.instagram,
.linkedin,
.twitter,
.whatsapp {
  display: inline-block;
  background: url("https://cdn.razorpay.com/static/assets/social-share/icons.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  width: 40px;
  height: 40px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  margin-bottom: -16px;
  margin-right: -16px;
}
.facebook {
  background-position: -2px 0px;
}
.instagram {
  background-position: -44px 0px;
}
.linkedin {
  background-position: -2px -42px;
}
.twitter {
  background-position: -44px -42px;
}
.whatsapp {
  background-position: -2px -84px;
}
